# --- GENERAL ---
FRONTEND_PORT=5173
BACKEND_PORT=8080
# --- BACKEND ---
MONGODB_URI=mongodb://localhost:27017/betting_game
GIN_MODE=debug
# --- FRONTEND ---
# Vite only exposes variables prefixed with VITE_ to the browser code
VITE_API_URL=/api