# --- GENERAL ---
FRONTEND_PORT=5173
BACKEND_PORT=8080
# --- BACKEND ---
MONGODB_URI=mongodb://localhost:27017/betting_game
GIN_MODE=debug
ADMIN_RESET_USERNAME=admin
ADMIN_RESET_TOKEN=supersecrettoken
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_SECONDS=3600
# --- FRONTEND ---
# Vite only exposes variables prefixed with VITE_ to the browser code
VITE_API_URL=/apiVITE_SOUND_DISABLED=false
VITE_SOUND_DISABLED=True